.container {
  padding: 20px var(--padding);
  background-color: black;
}

.title {
  font-family: "Fjalla One";
  color: white;
  font-size: calc(var(--font-xxlarge));
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px calc(var(--padding) * 0.5); /* Half padding the 2 sides */
  background-color: white;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.viewMoreBtn {
  margin: 20px 0;
  text-align: end;
}

.viewMoreBtn a {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  font-size: var(--font-medium);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  border: 1px solid white;
  border-radius: 50px;
}

.viewMoreBtn a:hover {
  transform: scale(1.1);
}
/* Tablet - Landscape */
@media screen and (max-width: 1024px) {
}

/* Tablet - Portrait */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px var(--padding-mobile);
  }
  .title {
    font-size: var(--font-xlarge);
  }
  .galleryGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 30px calc(var(--padding) * 0.5); /* Half padding the 2 sides */
    background-color: white;
    border-radius: 10px;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
}
