.container {
  padding: 20px var(--padding);
  background-color: white;
}

.title {
  font-family: "Fjalla One";
  color: #daa520;
  font-size: calc(var(--font-xxlarge));
  margin-bottom: 20px;
  text-align: center;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px var(--padding);
  background-color: white;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.card img:hover {
  transform: scale(1.1);
}
/* Tablet - Landscape */
@media screen and (max-width: 1024px) {
  .galleryGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px var(--padding);
  }
}

/* Tablet - Portrait */
@media screen and (max-width: 768px) {
  .container {
    padding: 20px var(--padding-mobile);
  }
  .galleryGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px var(--padding-mobile);
  }
  .title {
    font-size: calc(var(--font-xlarge));
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
}
